

/* RGB */
$primaryColor1: rgba(218, 191, 255, 1);
$primaryColor2: rgba(144, 122, 214, 1);
$primaryColor3: rgba(79, 81, 140, 1);
$primaryColor4: rgba(44, 42, 74, 1);
$primaryColor5: rgba(127, 222, 255, 1);

$fontColor: rgba(228, 230, 217, 1);