

/* RGB */
$purpleColor1: rgba(218, 191, 255, 1);
$purpleColor2: rgba(144, 122, 214, 1);
$purpleColor3: rgba(79, 81, 140, 1);
$purpleColor4: rgba(44, 42, 74, 1);
$purpleColor5: rgba(127, 222, 255, 1);

/* RGB */
$orangeColor1: rgba(255, 205, 178, 1);
$orangeColor2: rgba(255, 180, 162, 1);
$orangeColor3: rgba(229, 152, 155, 1);
$orangeColor4: rgba(181, 131, 141, 1);
$orangeColor5: rgba(109, 104, 117, 1);

$white: rgba(228, 230, 217, 1);